---
//style imports
import '../styles/global.css';
import '../styles/typography.css';

//component imports
import Link from './Link.astro';
import Button from './Button.astro';
import PrimaryLogo from './PrimaryLogo.astro';
---

<footer>
    <div>
        <div class="__left-col">
            <a href="/">
                <PrimaryLogo color="white" size="small"/>
            </a>
            <p class="small-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            </p>
            <Button href="" color="whiteToBlack" isUppercase={true} text="Book a Meeting"/>
        </div>
        <div class="__right-col">
            <div class="__links-div">
                <div class="__links-col">
                    <p class="medium-body">Services</p>
                    <div class="__links">
                        <Link color="white" href="/work/" size="small" isUppercase={false} isNavlink={false}  text="Work"/>
                        <Link color="white" href="/services/" size="small" isUppercase={false} isNavlink={false} text="Services"/>
                    </div>
                </div>
                <div class="__links-col">
                    <p class="medium-body">Company</p>
                    <div class="__links">
                        <Link color="white" href="/about/" size="small" isUppercase={false} isNavlink={false} text="About"/>
                        <Link color="white" href="/careers/" size="small" isUppercase={false} isNavlink={false} text="Careers"/>
                    </div>
                </div>
                <div class="__links-col">
                    <p class="medium-body">Reach Out</p>
                    <div class="__links">
                        <Link color="white" href="mailto:inquiries@nsdesign.ph" size="small" isUppercase={false} isNavlink={false} text="inquiries@nsdesign.ph"/>
                        <p class="small-body">+63 917 586 3211</p>
                    </div>
                </div> 
            </div>
            <div class="__border"></div>
            <div class="__info">
                <p class="small-body">© Natural Selection Design</p>
                <p class="small-body">Manila, Philippines</p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: var(--black);
        display: flex;
        justify-content: center;
        
        > div {
            width: 100%;
            max-width: var(--max-width);
            padding: 40px 24px;
            display: flex;
            flex-direction: column;
            gap: 64px;

            @media (width >= 1280px) {
                padding: 120px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15%;
            }

            > .__left-col {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 24px;
                color: var(--off-white);
            }
        
            > .__right-col {
                color: var(--off-white);
                display: flex;
                flex-direction: column;
                gap: 32px;
        
                > .__links-div {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    @media (width >= 1280px) {
                        gap: 64px;
                        flex-direction: row;
                    }

                    > .__links-col {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        @media (width >= 1280px) {
                            gap: 56px;
                        }   

                        > .__links {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            @media (width >= 1280px) {
                                gap: 16px;
                            }  
                        }
                    }
                }
                
                > .__border {
                    border: solid 1px var(--off-white);
                }

                > .__info {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    @media (width >= 1280px) {
                        flex-direction: row;
                        gap: 126px;
                    }  
                }
            }
        }

    }

</style>