---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';

// Component imports
import Link from './Link.astro';
import Button from './Button.astro';
import SecondaryLogo from './SecondaryLogo.astro';

// Props
interface Props {
    color: "blue" | "off-white";
}

const {
    color
} = Astro.props as Props;
---

{
    color === "blue" && (
    <nav class="navbar blue">
        <ul>
            <li>
                <Link 
                    color="white"
                    href="/work/"
                    size="small"
                    isUppercase={true}
                    isNavlink={true}
                    text="Work"
                />
            </li>
            <li>
                <Link 
                    color="white"
                    href="/services/"
                    size="small"
                    isUppercase={true}
                    isNavlink={true}
                    text="Services"
                />
            </li>
            <li>
                <a href="/">
                    <SecondaryLogo size="small" type="acronym"/>    
                </a>
            </li>
            <li>
                <Link 
                    color="white"
                    href="/about/"
                    size="small"
                    isUppercase={true}
                    isNavlink={true}
                    text="About"
                />
            </li>
            <li>
                <Button 
                    color="whiteToBlue"
                    href="/contact/"
                    isUppercase={true}
                    text="Contact Us"
                />
            </li>
            <li class="hamburger-blue" id="hamburgerBlue">
                <div></div>
                <div></div>
                <div></div>
            </li>   
        </ul>
    </nav>
    )
}

{
    color === "off-white" && (
    <nav class="navbar off-white">
        <ul>
            <li>
                <Link 
                    color="black"
                    href="/work/"
                    size="small"
                    isUppercase={true}
                    isNavlink={true}
                    text="Work"
                />
            </li>
            <li>
                <Link 
                    color="black"
                    href="/services/"
                    size="small"
                    isUppercase={true}
                    isNavlink={true}
                    text="Services"
                />
            </li>
            <li>
                <a href="/">
                    <SecondaryLogo size="small" type="acronym"/>    
                </a>
            </li>
            <li>
                <Link 
                    color="black"
                    href="/about/"
                    size="small"
                    isUppercase={true}
                    isNavlink={true}
                    text="About"
                />
            </li>

            <li>
                <Button 
                    color="black"
                    href="/contact/"
                    isUppercase={true}
                    text="Contact Us"
                />
            </li>
            <li class="hamburger-offWhite" id="hamburgerWhite">
                <div></div>
                <div></div>
                <div></div>
            </li>   
        </ul>
    </nav>
    )
}

<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
        // User is scrolling up
        document.querySelector(".navbar").classList.remove("hide-navbar");
    } else {
        // User is scrolling down
        document.querySelector(".navbar").classList.add("hide-navbar");
    }
    prevScrollpos = currentScrollPos;
}
</script>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 24px 120px;
        max-width: var(--max-width);
        margin: auto;
    }

    li {
        justify-self: center;
        align-self: center;
    }

    li:nth-of-type(1) {
        justify-self: start;
    }

    li:nth-of-type(5) {
        justify-self: end;
    }

    li:nth-of-type(6) {
        display: none;
        
        > div {
            width: 55px;
            height: 4px;
            transition: var(--transition);

        }
    }

    
    .hamburger-blue {
        > div {
            background-color: var(--off-white);
        }
    }


    .hamburger-offWhite {
        > div {
            background-color: var(--black);
        }
    }

    .navbar {
        transition: var(--transition);
        position: fixed;
        top: 0;
        left: 25;
        width: 100%;
        z-index: 98;
    }

    .blue {
        background-color: var(--blue);
    }

    .off-white {
        background-color: var(--off-white);
    }

    .hide-navbar {
        transform: translateY(-100%);
    }

    @media (width <= 430px) {
        nav {

            > ul {
                grid-template-columns: repeat(2, 1fr);
                padding: 24px 24px;

                > li:nth-of-type(1), li:nth-of-type(2), li:nth-of-type(4), li:nth-of-type(5)  {
                    display: none;
                }

                > li:nth-of-type(3)  {
                    justify-self: start;
                }

                > li:nth-of-type(6)  {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    justify-self:end;
                }
            }
        }
    }
</style>