---
// Style imports
import '../styles/global.css';
import '../styles/typography.css';

// Component imports
import CTA from '../components/CTA.astro';
import Socials from '../components/Socials.astro';
import Preloader from '../components/preloader.astro';
import Footer from '../components/Footer.astro';
import Link from '../components/Link.astro';
import SecondaryLogo from '../components/SecondaryLogo.astro';
import Button from '../components/Button.astro';
import MobileNav from '../components/MobileNav.astro';
import { SEO } from 'astro-seo';

// Props
interface Props {
    title: string;
    description: string;
    desktopImage: string;
    mobileImage: string;
	imageAltText: string;
	brand: string;
	client: string;
    tags: Array<string>;
    navBackgroundColor: string;
    navBackgroundImageDesktop: string;
    navBackgroundImageMobile: string;
}

const {
    title,
    description,
    desktopImage,
    mobileImage,
    imageAltText,
    brand,
    client,
    tags,
    navBackgroundColor,
    navBackgroundImageDesktop,
    navBackgroundImageMobile
} = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
        <SEO 
			title= {brand + ' - ' + title}'
			description={description}
			openGraph={{
				basic: {
				  title: title,
				  type: "Portfolio",
				  image: desktopImage,
				}
			}}
		/>
		<title>{title}</title>
        <link rel="stylesheet" href="https://unpkg.com/img-comparison-slider@7/dist/styles.css"/>
	</head>
	<body>
		<Preloader />
        <MobileNav />
		<nav>
            <div>
                <ul>
                    <li class="__work">
                        <Link 
                            color="black"
                            href="/work/"
                            size="small"
                            isUppercase={true}
                            isNavlink={true}
                            text="Work"
                        />
                    </li>
                    <li class="__services">
                        <Link 
                            color="black"
                            href="/services/"
                            size="small"
                            isUppercase={true}
                            isNavlink={true}
                            text="Services"
                        />
                    </li>
                    <li class="__logo">
                        <a href="/">
                            <SecondaryLogo size="small" type="acronym"/>    
                        </a>
                    </li>
                    <li class="__about">
                        <Link 
                            color="black"
                            href="/about/"
                            size="small"
                            isUppercase={true}
                            isNavlink={true}
                            text="About"
                        />
                    </li>
        
                    <li class="__contact">
                        <Button 
                            color="black"
                            href="/contact/"
                            isUppercase={true}
                            text="Contact Us"
                        />
                    </li>
                    <li class="__hamburger" id="hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </li> 
                </ul>
            </div>
        </nav>
        <section class="hero-image">
            <picture>
                <source srcset={desktopImage} media="(min-width: 1280px)">
                <img src={mobileImage} alt={imageAltText}>
            </picture>
        </section>
        <section class="heading">
            <div>
                <div class="__title__div">
                    <div class="__title">
                        <p class="small-body-mono">{brand}</p>
                        <h1>{title}</h1>
                    </div>
                    <p class="small-body">{description}</p>
                </div>
                <div class="__info__div">
                    <div class="__client">
                        <p class="small-body-mono">Client</p>
                        <h2>{client}</h2>
                    </div>
                    <div class="__tags__div">
                        <p class="small-body-mono">Tags</p>
                        <div class="__tags__group">
                            {tags.map((tags) => (
                                <div class="__tags small-body-mono">{tags}</div>
                            ))}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <slot />
        <CTA />
        <Socials />
		<Footer />
	</body>
</html>

<script
  defer
  src="https://unpkg.com/img-comparison-slider@7/dist/index.js"
></script>

<script>
    const closeImg = document.getElementById('close');
	const hamburger = document.getElementById('hamburger');
    const mobileNav = document.getElementById('MobileNav');
    const pageBody = document.body;

	closeImg.addEventListener('click', function() {
		mobileNav.style.left = '1000px';
		mobileNav.style.opacity = '0';
        pageBody.style.overflow = 'visible';
	});

	hamburger.addEventListener('click', function () {
		const mobileNav = document.getElementById('MobileNav');
		mobileNav.style.left = '0px';
		mobileNav.style.opacity = '1';
        pageBody.style.overflow = 'hidden';
	});
</script>

<style define:vars={{navBackgroundColor, navBackgroundImageDesktop, navBackgroundImageMobile}}>
    nav {
        background-image: var(--navBackgroundImageMobile);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: var(--navBackgroundColor);

        @media (width >= 1280px) {
            background-image: var(--navBackgroundImageDesktop);
            display: flex;
            justify-content: center;
            background-color: var(--navBackgroundColor);
        }
        
        > div {
            @media (width >=1280px ) {
                width: var(--max-width);
            }

            > ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 24px;

                @media (width >= 768px) {
                    padding: 48px 56px;
                }

                @media (width >= 1024px) {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    justify-items: center;
                    padding: 40px 80px;
                }

                > .__work, .__services, .__about, .__contact {
                    display: none;
                    
                    @media (width >= 1024px) {
                        display: block;
                    }
                }

    
                > .__hamburger {
                    @media (width >= 1024px) {
                        display: none;
                    }

                    > div {
                        width: 55px;
                        height: 4px;
                        background-color: var(--black);
                    }
                    
                    > div:nth-child(1), div:nth-child(2) {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    .hero-image {
        > picture {
            display: flex;
            > img {
                width: 100%;
            }
        }
    }

    .heading {
        background-color: var(--off-white);
        display: flex;
        justify-content: center;

        > div {
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 32px 24px;
            max-width: var(--max-width);

            @media (width >= 768px) {
                padding: 64px 56px;
            }

            @media (width >=1280px) {
                padding: 120px;
                display: grid;
                grid-template-columns: 3fr 1.5fr;
                gap: 15%;
            }

            > .__title__div {
                display: flex;
                flex-direction: column;
                gap: 32px;

                > .__title {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    > h1 {
                        font-size: var(--h3);

                        @media (width >=768px) {
                            font-size: var(--h2);
                            transform: translateX(-.8%);
                        }
                    }
                }
            }

            > .__info__div {
                display: flex;
                flex-direction: column;
                gap: 32px;

                > .__client {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    > h2 {
                        font-size: var(--h4);

                        @media (width >=1280px) {
                            font-size: var(--h3);
                        }
                    }
                }

                > .__tags__div {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    > .__tags__group {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;

                        > .__tags {
                            padding: 4px 8px 6px 8px;
                            border: 1px solid var(--black);
                        }
                    }
                }
            }
        }  
    }
</style>


